* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glo-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: #0c0f0a;
  color: #fff;
  padding: 15px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}

.glo-nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
  padding-top: 16px;
}

.nav-home,
.nav-product,
.nav-about,
.nav-contact,
.nav-sign-up {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.nav-sign-up {
  border-radius: 50px;
  background: #01bf71;
  white-space: nowrap;
  outline: none;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 992px) {
  .glo-navbar {
    padding: 40px;
  }
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  h3.logo {
    font-size: 30px;
  }

  .glo-nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #f9f9f9;
    left: 0;
    top: 80px;
    transition: all 0.5s ease-out;
    width: 100%;
    z-index: 4;
  }

  .nav-home,
  .nav-product,
  .nav-about,
  .nav-contact,
  .nav-sign-up {
    color: #1f6b0f;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .nav-home,
  .nav-product,
  .nav-about,
  .nav-contact,
  .nav-sign-up {
    color: #1f6b0f;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  a.nav-home li:hover,
  a.nav-product li:hover,
  a.nav-about li:hover,
  a.nav-contact li:hover,
  a.nav-sign-up li:hover {
    color: #f95738 !important;
  }
  a.nav-home li:active,
  a.nav-product li:active,
  a.nav-about li:active,
  a.nav-contact li:active,
  a.nav-sign-up li:active {
    color: #f95738 !important;
  }

  .nav-sign-up {
    border: none;
    padding: unset;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    color: #f9f9f9;
    background: #1d1c1a;
    border: none;
    outline: none;
    top: 27px;
    right: 25px;
  }

  .mobile-menu-icon i {
    font-size: 24px;
    color: #f9f9f9;
  }
}
